h1 > img{
	width: 35%;
	height: auto;
	color: white;
	
}
.header {
	position: absolute;
}

.message {
	color: red;
	font-size: 36px;
	text-align: center;
	font-family: 'Baloo Bhaijaan', cursive;
}

.deets {
	color: white;
	font-family: 'Baloo Bhaijaan', cursive;
}
.title{
	color: white;
	font-size: 36px;
	text-align: center;
	position: static;
	font-family: 'Baloo Bhaijaan', cursive;
	/*background-color: black;*/
}
	
.body {
	background-image: url("bg_image.png");
	/*font-family: 'Oswald', sans-serif;*/
    background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 16pt;
	color: white;
    /*background-color: black;*/
	/*position: absolute;*/
	
	padding-bottom: 40px;
	margin: 0 auto -40px;
	height: 100%;
	padding: 16px;
	min-height: 100%;
	margin-bottom: -40px;
	/*background-color: black;*/
	
	
	
	
}
.homeBody{
	width:100%;
	margin-bottom: 40px;
	
}


.currentpage {
	/*background-color: black;*/
	width: 120px;
	color: white;
	padding: 15px;
	font-size: 10px;
	border: navy;
}

.dropbtn{
	position: -webkit-sticky;
    position: fixed;
	background-color: black;
	width: 150px;
	color: white;
	padding: 11px 11px;
	font-size: 16px;
	border-style: ridge;
	border-width: 3px;
	font-family: 'Fredoka One', cursive;
}
.dropdown{
	float: right;
	position: -webkit-sticky;
    position: fixed;
	display: inline-block;
	width: 25%;
	z-index: 5;
	font-family: 'Fredoka One', cursive;
}
.dropdown-content{
	display: none;
	position: -webkit-sticky;
    position: fixed;
	background-color: black;
	width: 150px;
	z-index: 5;
}
.dropdown-content a {
    color: white;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
	border: ridge;
	border-width: 1px;
	border-color: black;
	width: 140px;
	text-align: center;
}

.dropdown-content log {
	color: white;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
	border: ridge;
	border-width: 1px;
	border-color: black;
	width: 140px;
	text-align: center;
}
.dropdown-content log:hover{
	display: block;
}
.dropdown-content a:hover {
	background-color: #666666;
	color:white
}
.dropdown-content #current-page{
	background-color: blue;


}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {
	background-color: #666666;
	color: white;
}

.footer .push {
	/*position: fixed;*/
	height: 40px;
	/*/left: 0;
	bottom: 40px;
	width: 100%;
	background-color: #654321;
	
	*/
}
.footer {
	margin-top: -10px;
	width: 100%;
	background-color:black;
	opacity: 0.8;
	margin-bottom:-10px;
	color: white;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}
p.copyright {
	
	width: 100%;
	color: white;
	background-color:black;
	opacity: 0.8;
	line-height: 10px;
	font-size: 16px;
	text-align: center;
	padding-top:20px;
	font-family: 'Fredoka One', cursive;
	bottom:0;
}

/* Add padding to containers */
.container {
  padding: 16px;
  min-height: 100%;
  margin-bottom: -40px;
}
.signin {
  background-color: black;
  color: white;
  text-align: center;
  opacity: 0.8;
}
{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

div.left {
	left: 30%;

}
div.right {
	right: 30%;
}
	

/*shop stuff*/
buy_button {
    background: linear-gradient( #fff, #ccc);
    width: 148px;
    height: 40px;
	color:black;
	padding: 5px 5px;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: 5.5px;
    border: none;
}
buy_button:hover {
    background: linear-gradient( #000, #fff);
    text-shadow: 0 0 10px #fff;
	color:black;
	cursor: pointer;
}
.inset {
    border-radius: 10px 10px 0 0;
    width: 30%;
	height: auto;
	color: white;
}

table,td {
	border: 2px solid white;
	padding: 10px 10px;
}
.first {
	
    width: 50%;
	padding: 10px;
	text-align: center;
	
	color: white;
	font-family: 'Baloo Bhaijaan', cursive;
	
	padding-bottom: 40px;
	margin: 0 auto -40px;
	height: auto;
	
	min-height: 100%;
	margin-bottom: -40px;
}
.second {
	background-color:black;
	font-family: 'Baloo Bhaijaan', cursive;
	opacity: 0.8;
	width: 100%;
	padding: 10px;
	text-align: center;
	}
	
.secondTitle {
	background-color:black;
	font-family: 'Allerta Stencil', sans-serif;
	opacity: 0.8;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size:45pt;
	width: 100%;
	padding: 10px;
	text-align: center;
}
.third {
	background-color:black;
	font-family: 'Baloo Bhaijaan', cursive;
	opacity: 0.7;
	width: 100%;
	padding: 10px;
	text-align: center;

}

form.bg {
	background-color:black;
	opacity: 0.8;
	padding-top:10px;
	font-family: 'Baloo Bhaijaan', cursive;
	padding-bottom: 10px;
	margin: 0 auto -10px;
	height: auto;
	text-align: center;
	min-height: 10%;
	Margin-bottom: 30px;
}
div.sticky {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
	right: 0;
	width: 10%;
	text-align: right;
    background-color: black;
	font-family: 'Baloo Bhaijaan', cursive;
	color:white;
    padding: 10px;
    font-size: 20px;
	z-index: 5;
}


textarea.ta {
	width: 80%;
    rows: 6;
    padding: 5px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.section {
    background-color: black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}

#menu #current-page {
    text-decoration: none;
    color: #F36900;
    background-color: blue;
    padding: 0px 9px;
    border: solid 1px #D1D8E1;
    border-bottom: solid 1px white;
    padding-bottom: 2px;
    /* padding-top: 2px; */
    cursor: default;
}

.exists {
    background-color:black;
	font-family: 'Baloo Bhaijaan', cursive;
	opacity: 0.8;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: red;
}

.loginMessage {
	color: white;
	padding: 10px 10;
	margin-bottom: 5px;
	width: 50%;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
	background: linear-gradient( #fff, #ccc);
    width: 100px;
    height: 25px;
	color:blue;
	padding: 5px 5px 5px 5px;
    border-radius: 10px;
    margin-top: -10px;
    margin-left: 5.5px;
    border: none;
}
.popup:hover {
	background: linear-gradient( #000, #fff);
    text-shadow: 0 0 10px #fff;
	color:black;
	cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.galleria{ 
	max-width: 80%; 
	height: 600px; 
	background: #000; 
	margin: auto;
    width: 90%;
    border: 4px solid blue;
    padding: 20px;}